/*设置body北京*/
body{
	background: url(../img/bd-bg.png) repeat-x;
	/*height: 3000px;*/
}
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
	}
.clearfix{
	zoom:1;
}
/*固定元素宽度*/
.w{
	width: 940px;
	margin: 0 auto;
}
.header{
	/*background-color: #bfa;*/
	padding-top: 37px;
	padding-bottom: 46px;
}
.logo{
	margin-left: 15px;
}

/*设置导航条*/
.nav{
	float: right;
	margin-top: 22px;
}

.nav li{
	float: left;
	 padding: 0 10px 8px;
	 border-left: 1px #d6d6d6 dotted;
	 }

.nav a{
	color: #666666;
	font: bold 14px Georgia;
	text-decoration: none;
}
.nav p{
	color: #b7b7b7;
	font: 11px tahoma;
}

.nav a:hover{
	color: #999797;
	text-decoration: underline;
}


/*设置banner*/
.banner{
	height: 356px;
	background: url(../img/banner/banner-bg.png) no-repeat bottom center;
	position: relative;
}

.pointerDiv{
	position: absolute;
	top:314px;
	left:15px;
	
}
.pointerDiv a{
	float: left;
	width: 17px;
	height: 17px;
	background:url(../img/sprite.png) no-repeat;
	margin-left:4px;
}
.pointerDiv .active,
.pointerDiv a:hover
{
	background: url(../img/sprite.png) no-repeat -25px 0px;
}

/*设置content部分*/
.content h1{
	text-align: center;
	font:bold 24px Georgia;
	padding:6px 0px 20px 0px;
	background: url(../img/line.png) no-repeat bottom center;
	margin-bottom: 38px;
}

.content .pl,.content .cs,.content .uc,
.contact .sc ,.contact .co ,.contact .nu{
	float: left;
	width: 300px;
}
.content .cs,.contact .co{
	margin: 0px 20px;
}
.content h2{
	color: #11719e;
	font:21px Georgia;
}
.content .p1{
	font:12px helvetica;
	color: #8c8c8c;
}
.content .imgDiv{
	width: 299px;
	height: 190px;
	background: url(../img/img-bg.png) no-repeat;
	margin:16px 0px 10px 0px;
	text-align: center;
	padding-top: 12px;
}
.content .p2{
	height: 92px;
	color: #3e3e3e;
	font:13px helvetica ;
}
.content .lm{
	display: block;
	width: 163px;
	height: 40px;
	background: url(../img/sprite.png) no-repeat 0px -63px;
	text-decoration: none;
	color: #016999;
	font:12px/40px helvetica ;
	text-indent: 1em;
	margin-bottom: 35px;
}

/*待会删除*/
/*.contact .sc,.contact .co,.contact .nu{
	height: 500px;
	/*background-color: yellow;*/
}
*/
.contact{
	background: url(../img/line.png) no-repeat center top;
}
/*设置联系栏表单项*/
.contact .txt{
	width: 276px;
	height: 33px;
	line-height: 33px;
	background: url(../img/input.png);
	border: none;
	/*去除默认的内边距*/
	padding: 0px 10px 0px;
	margin: 0px 0px 16px;
	_background-attachment: fixed;
}

.contact .tarea{
	width: 276px;
	height: 114px;
	background: url(../img/textarea.png);
	border: none;
	overflow: auto;
	resize: none;
	padding: 10px;
	margin: 0px;
	_background-attachment: fixed;
}

.contact .btn{
	width: 163px;
	height: 32px;
	border: none;
	background: url(../img/sprite.png) no-repeat 0px -26px;
	font: 13px Georgia;
	color: #ffffff;
	padding: 0px;
	margin: 11px 0px 23px;
	text-align: left;
	text-indent: 1em;
	/*设置鼠标指针的样式*/
	cursor: pointer;
}
.nu .btn{
	_margin-left: -1em;
}
/*设置标题*/
.contact h2{
	font: 18px/1 Georgia;
	color: #444444;
	border-bottom: 1px dashed #d3d3d3;
	padding: 44px 0px 10px 0px;
	margin-bottom: 15px;
}


/*设置左边*/

.sc .p1{
	color: #444;
	font: 12px/1 helvetica;
/*	margin-bottom: 10px;*/
}

.sc .icon{
	font-size: 0;
	margin-top: 4px;
}
.sc .icon a{
	margin-right: 6px;
}
.sc .nl{
	font: bold 18px/1 "gill sans mt";
	color: #444444;
	padding: 34px 0px 10px;
}

.sc .txt{
	margin-top: 15px;
	_margin-top: 18px;
	margin-bottom: 0px;
}


/*右边*/
.nu h2{
	margin-bottom: 0px;
}
.nu img{
	float: left;
	margin-right: 8px;
}

.nu p{
	font: 12px/1 helvetica;
	color: #444444;
	border-bottom: 1px #d3d3d3 dashed;
	padding: 14px 0px 9px;
	_padding: 15px 0px 10px;
}

/*设置底部*/
.footer{
	height: 173px;
	background-color: #333333;
	border-top: 10px solid #4c4c4c;
}
.footer a,.footer p{
	font:11px helvetica;
	color: #999999;
	text-decoration: none;
}
.footer .copy{
	float: right;
}
.footer .w{
	padding-top: 18px;
}

.footer p{
	margin: 0px 23px 6px 8px;
}

.footer a:hover{
	color: #cecccc;
	text-decoration: underline;
}


